[project]
	description = the api for aliyun log with golang
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jerry Lou (gunsluo)
[access "refs/for/refs/*"]
	read = group user/Jerry Lou (gunsluo)
	push = group user/Jerry Lou (gunsluo)
	label-Code-Review = -2..+2 group user/Jerry Lou (gunsluo)
	label-Verified = -1..+1 group user/Jerry Lou (gunsluo)
	rebase = group user/Jerry Lou (gunsluo)
	removeReviewer = group user/Jerry Lou (gunsluo)
	submit = group user/Jerry Lou (gunsluo)
[access "refs/heads/*"]
	read = group user/Jerry Lou (gunsluo)
	create = group user/Jerry Lou (gunsluo)
	push = +force group user/Jerry Lou (gunsluo)
	pushMerge = group user/Jerry Lou (gunsluo)
[access "refs/tags/*"]
	push = group user/Jerry Lou (gunsluo)
	push = +force group user/Jerry Lou (gunsluo)
